{
    "name": "@qsys-tools/{{ name }}",
    "version": "0.0.1",
    "description": "{{ description }}",
	"author": {
		"name": "James Talmage",
		"email": "james.talmage@jrtechnical.com",
		"url": "http://jrtechnical.com"
	},
    "type": "module",
    "scripts": {
    },
    "repository": {
        "type": "git",
        "url": "https://github.com/qsys-tools/qrc-client-js"
    },
	"main": "dist/index.js",
	"exports": {
		".": {
			"types": "./dist/index.d.ts",
			"development": "./src/index.ts",
			"production": "./dist/index.js",
			"default": "./dist/index.js"
		}
	},
    "dependencies": {},
    "devDependencies": { {% if vitest %}
        "vitest": "catalog:",
		"vitest-monocart-coverage": "catalog:"
        {% endif %} } {%  if cli %},
    "bin": {
        "tsz-{{ name }}": "cli.ts"
    }{% endif %}
}
